@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700;800;900');

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@200;300;400;500;600;700;800;900');

:root{
  --fnt_main: 'Josefin Sans';
  --fnt_text: 'Fira Mono';
  --fnt_white: #ffffff;
  --grn_btn: #3CC54C;
  --ln_hgt: 1.55;
}

body{
  font-family: var(--fnt_main);
  color: var(--fnt_white);
  margin: 0px;  
}

.left_container{
  height: 100vh;
  background-color:#0065DC;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.left_container > * {
  border: 1px solid black;
  padding: 0px 50px 0px 50px;
}

.title_text{
  font-size: 78px;
  font-weight: 600;
}

.introduction{
  line-height: var(--ln_hgt);
  font-family: var(--fnt_text);
}

.homepage_btn button{
  font-family: var(--fnt_main);
  font-weight: 600;
  font-size: 18px;
  background-color: var(--grn_btn);
  color: var(--fnt_white);
  height: 56px;
  border: none;
  border-radius: 10px;
  margin: 20px 0px 0px 0px;
  padding: 10px 30px 10px 30px;
}

.top{
  display: flex;
  flex-direction: column;
  border: 5px solid green;
  margin-top: 50px;
  gap: 10px;
}

.top > * {
/*   border: 3px solid red; */
}

.bottom{
  margin-top: auto;
  margin-bottom: 50px;
}
